<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Doing business in Europe</title>
  <meta name="description" content="Doing business in Europe">
  <meta name="author" content="MB Appiness Solutions">

  <link rel="stylesheet" href="/assets/main.css?v=1.0">
</head>

<body>
  <script src="/assets/js/scripts.js"></script>
</body>
</html>