version: '3.8'

networks:
  shared-network:
    driver: bridge

services:

  zipkin:
    container_name: zipkin
    networks:
      - shared-network
    image: openzipkin/zipkin:2.21
    ports:
      - 9411:9411

  db:
    container_name: bpi_db
    networks:
      - shared-network
    image: postgres:13-alpine
    ports:
      - 5432:5432      

  bpi-api:
    container_name: bpi-api
    networks:
      - shared-network
    image: bpi-api-amd64:1.0
    ports:
      - 3000:3000 # CRUD API
      - 4000:4000 # DEBUG API
    depends_on:
      - zipkin
      - db

  bpi-ui:
    container_name: bpi-ui
    networks:
      - shared-network
    image: bpi-ui-amd64:1.0
    ports:
      - 80:80     # HTTP
      - 443:443   # TLS
      - 4002:4002 # DEBUG API
    depends_on:
      - zipkin

  metrics:
    container_name: metrics
    networks:
      - shared-network
    image: metrics-amd64:1.0
    ports:
      - 3001:3001 # EXPVAR API
      - 4001:4001 # DEBUG API
    depends_on:
      - bpi-api